<nav class="navbar">
    <input class="form-control" placeholder="Search/Filter Employee Records " type="text" name="search" [(ngModel)]="search" >      
</nav>
<table class="table table-hover">
    <thead>
        <th title="Sort Full Name" (click)="sort('fullName')">Name
            <span class="fa" *ngIf="key =='fullName'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th title="Sort Designation" (click)="sort('position')">Designation
            <span class="fa" *ngIf="key =='position'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th title="Sort Mobile No" (click)="sort('mobile')">Mobile
            <span class="fa" *ngIf="key =='mobile'" [ngClass]="{'fa-chevron-up':reverse,'fa-chevron-down':!reverse}"></span>
        </th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let emp of list | orderBy: key : reverse | filter:search | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
            <td (click)="onEdit(emp)">[{{ emp.empCode }}] - {{ emp.fullName }}</td>
            <td (click)="onEdit(emp)">{{emp.position}}</td>
            <td (click)="onEdit(emp)">{{emp.mobile}}</td>
            <td>
                <a (click)="onEdit(emp)" class="btn text-info"><i class="fa fa-edit"></i></a>
                <a (click)="onDelete(emp.id)" class="btn text-danger"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls style="float:right;" (pageChange)="p = $event"></pagination-controls>